<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/icons/favicon.ico" />
</head>
<body>
    @RenderBody()
    <script src="~/lib/vue/vue.js"></script>
    <script src="~/lib/vue-router/vue-router.js"></script>
    <script src="~/lib/apexcharts/apexcharts.js"></script>
    <script src="~/lib/vue-apexcharts/vue-apexcharts.js"></script>
    <script src="~/lib/axios/axios.js"></script>
    <script src="~/lib/vuejs-datepicker/vuejs-datepicker.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>