<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="asyncLog" type="Vtb.PosKeep.Common.Logging.AsyncLoggerConfigurationSection, Vtb.PosKeep.Common.AsyncLogger, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <section name="reportMonitoring" type="Vtb.PosKeep.ReportTransfer.FileProcessing.MonitoringConfigurationSection, Vtb.PosKeep.ReportTransfer.FileProcessing, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <appSettings>
    </appSettings>
  
    <!-- Секция настройки протокола выполнения -->
    <!-- dir - каталог для вывода протокола выполнения-->
    <!-- logSize - размер файла протокола в байтах-->
    <asyncLog dir="c:\temp\logs\reporttransfer" logSize="1000000" />
    
    <!-- Секция настройки проверки, копирования и обработки -->
    <!-- interval - период проверки в секундах -->
    <reportMonitoring interval="2">
      <!-- Секция настройки вариантов проверки, копирования и обработки -->
      <monitoring>
        <!-- Вариант  обработки 1 -->
        <!-- name - должно быть уникальным -->
        <monitor name="1" >
          <!-- Каталоги для организации проверки, атрибут name тега dir должен быть уникальным -->
          <directories>
            <!-- Архивный каталог, с которым сравнивают name="arch" -->
            <dir name="arch" value="c:\temp\reports\out\arch" comment="архив файлов"/>
            <!-- Рабочий каталог, в который пишут новые файлы для обработки name="source" -->
            <dir name="source" value="c:\temp\reports\in" comment="источник файлов"/>
          </directories>
          <!-- Маски файлов для обработки, атрибут name тега pattern должен быть уникальным -->
          <patterns>
            <!-- Файлы архивов начинаются с символа FO -->
            <pattern name="1" value="FO*.zip" comment="файлы FO"/>
          </patterns>
          <!-- Секция настройки обработки файлов, атрибут filename тега processor должен быть уникальным -->
          <processors>
            <!-- Обработчик файлов -->
            <!-- filename - маска имени файла, наиболее длинная и обобщенная, для группировки -->
            <processor filename="FO202004?*">
              <!-- Каталоги, атрибут name тега dir должен быть уникальным -->
              <directories>
                <!-- Каталог для вывода результатов обработки name="destination" -->
                <dir name="destination" value="c:\temp\reports\out\f" comment="результаты"/>
              </directories>
              <!-- Маски файлов для выделения из архива, атрибут name тега pattern должен быть уникальным -->
              <patterns>
                <!-- файл с точным именем o07.csv -->
                <pattern name="1" value="o07.csv" comment=""/>
                <!-- файл с точным именем f07.csv -->
                <pattern name="2" value="f07.csv" comment=""/>
              </patterns>
              <!-- дополнительные режимы обработки, атрибут name тега flag должен быть уникальным-->
              <flags>
                <!-- отдельная подпапка результатов на каждый день запуска проверки-->
                <flag name="dayFolder" value="True" comment="отдельная папка для каждой даты запуска"/>
                <!-- перезаписыавть файлы новыми -->
                <flag name="overwrite" value="True" comment="перезаписывать файлы в папке"/>
              </flags>
            </processor>
          </processors>
        </monitor>
      </monitoring>
    </reportMonitoring>
</configuration>
